# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.bcf
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.gz
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc*
*.nav
*.out
*.pdfsync
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.pyg
*.thm
*.tmp
temp.txt

# Editor/OS specific
.DS_Store
.vscode/
*.swp
*~
